# Gradle-specific files
jlox/.gradle/
**/build/
!jlox/gradle-wrapper.jar
!jlox/gradle-wrapper.properties
jlox/gradle-app.setting
jlox/.gradletasknamecache

# Eclipse-specific files (if you're using Eclipse)
.project
.classpath

# IntelliJ IDEA files (optional, if you use IntelliJ)
.idea/
*.iml

# Logs and temporary files
jlox/*.log
*.tmp
*.bak
*.swp
*.swo
